@model PoHeader

@{
    string currentModel = Helper.GetTypeName(Model.GetType().ToString());
    ViewData["Title"] = @currentModel + " Details";
}


<div class="card">

    <div class="card-header bg-success text-uppercase text-white text-center mb-2 pt-0" style="height:40px;">
        <h1>@currentModel Details</h1>
    </div>

    <form asp-action="Details">
       <div class="row col-12">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

           <div class="row">
                <div class="form-group col-2 p-3">
                    <label asp-for="PoNumber" class="control-label"></label>
                </div>
                <div class="form-group col-3 p-3">
                    <input asp-for="PoNumber" class="form-control form-control-plaintext" readonly />
                </div>

                <div class="form-group col-2 p-3"></div>

                <div class="form-group col-2 p-3">
                    <label asp-for="PoDate" class="control-label"></label>
                </div>
                <div class="form-group col-3 p-3">
                    <input asp-for="PoDate" class="form-control form-control-plaintext" readonly />
                </div>
           </div>

            <div class="row">             
                <div class="form-group col-2 p-3">
                    <label asp-for="SupplierId" class="control-label"></label>
                </div>
                <div class="form-group col-3 p-3">
                    <select asp-for="SupplierId" class="form-control form-control-plaintext" readonly asp-items="ViewBag.Suppliers"></select>
                </div>

                <div class="form-group col-2 p-3"></div>

                <div class="form-group col-2 p-3">
                    <label asp-for="BaseCurrencyId" class="control-label"></label>
                </div>
                <div class="form-group col-3 p-3">
                    <select asp-for="BaseCurrencyId" class="form-control form-control-plaintext" readonly asp-items="ViewBag.BaseCurrencies"></select>
                </div>
            </div>

             <div class="row">
                <div class="form-group col-2 p-3">
                    <label asp-for="PoCurrencyId" class="control-label"></label>
                </div>
                <div class="form-group col-3 p-3">
                    <select asp-for="PoCurrencyId" class="form-control form-control-plaintext" readonly asp-items="ViewBag.PoCurrencies"></select>
                </div>

                <div class="form-group col-2 p-3"></div>

                <div class="form-group col-2 p-3">
                    <label asp-for="ExchangeRate" class="control-label"></label>
                </div>
                <div class="form-group col-3 p-3">
                    <input asp-for="ExchangeRate" class="form-control form-control-plaintext" readonly />
                </div>              
            </div>

            <div class="row">               
                <div class="form-group col-2 p-3">
                    <label asp-for="QuotationNo" class="control-label"></label>
                </div>
                <div class="form-group col-3 p-3">
                    <input asp-for="QuotationNo" class="form-control form-control-plaintext" readonly />
                </div>

                <div class="form-group col-2 p-3"></div>

                <div class="form-group col-2 p-3">
                    <label asp-for="QuotationDate" class="control-label"></label>
                </div>
                <div class="form-group col-3 p-3">
                    <input asp-for="QuotationDate" class="form-control form-control-plaintext" readonly />
                </div>             
            </div>

            <div class="col-12 ml-5">
                <table id="CodesTable" class="table table-borderless table-sm mb-0 pb-0">
                    <thead>
                        <tr>
                            <th>
                                Product
                            </th>
                            <th>
                                Quantity
                            </th>
                            <th>
                                FOB
                            </th>
                            <th>
                                Price
                            </th>
                            <th>
                                Unit
                            </th>
                            <th style="width:60px;">
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        @for (int i = 0; i < Model.PoDetails.Count; i++)
                        {
                            <tr>
                                <td>
                                    <select asp-for="PoDetails[i].ProductCode" class="form-control form-control-plaintext" readonly asp-items="ViewBag.Products"></select>
                                </td>
                                <td>
                                    <input asp-for="PoDetails[i].Quantity" class="form-control form-control-plaintext" readonly />
                                </td>
                                <td>
                                    <input asp-for="PoDetails[i].Fob" class="form-control form-control-plaintext" readonly />
                                </td>
                                <td>
                                    <input asp-for="PoDetails[i].PrcInBaseCur" class="form-control form-control-plaintext" readonly />
                                </td>
                                <td>
                                    <input asp-for="PoDetails[i].UnitName" class="form-control form-control-plaintext" readonly />
                                </td>
                                <th style="width:60px;">
                                </th>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            <div class="btn-group">
                <a class="btn btn-primary" asp-action="Edit" asp-route-code="@Model.Id">Edit</a>
                <a class="btn btn-secondary" asp-action="Index" asp-route-currentPage="@TempData.Peek("CurrentPage")">Back</a>
            </div>
       </div>
    </form>

</div>





@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

}
