@model Currency

@{
    string currentModel = Helper.GetTypeName(Model.GetType().ToString());
    ViewData["Title"] = @currentModel + " Delete";
}


<h1>@currentModel Delete</h1>

<h5>Are you sure you want to delete this?</h5>

<form asp-action="Delete">
    <div class="col-4">
        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" readonly />
        </div>
        <div class="form-group">
            <label asp-for="Description" class="control-label"></label>
            <input asp-for="Description" class="form-control" readonly />
        </div>
        <div class="form-group">
            <label asp-for="ExchangeCurrencyId" class="control-label"></label>
            <input asp-for="Currencies.Name" class="form-control" readonly />
        </div>
        <div class="form-group">
            <label asp-for="ExchangeRate" class="control-label"></label>
            <input asp-for="ExchangeRate" class="form-control" readonly />
        </div>
        <div class="btn-group">
            <input type="submit" value="Delete" class="btn btn-danger" />
            <a class="btn btn-secondary" asp-action="Index" asp-route-currentPage="@TempData.Peek("CurrentPage")">Back</a>
        </div>
    </div>
</form>
